<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>48B2491C1EFF67E900A70F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48B2492E1EFF681400A70F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48B2493B1EFF6CC700A70F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48B2494A1EFF6DA800A70F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48F8B2D31EFF545900BA2548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48F8B2E21EFF556300BA2548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48F8B2F61EFF557800BA2548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E263994C190D148400B6251A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2639985190D149C00B6251A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E26399B6190D14B200B6251A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E26399E7190D14C000B6251A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2639A18190D14D100B6251A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2639A49190D14E600B6251A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2639A7A190D14F500B6251A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2639AAB190D150700B6251A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
